<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="AddTrailingSlashToFolders" stopProcessing="true">
          <match url="^([a-zA-Z0-9_\-]+)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Redirect /index to /" stopProcessing="true">
          <match url="^index(\.php)?$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect folder index to folder root" stopProcessing="true">
          <match url="^(.*)/index(\.php)?$" ignoreCase="true" />
          <action type="Redirect" url="{R:1}/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect .php URLs to clean URLs" stopProcessing="true">
          <match url="^(.*)\.php$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect plus to underscore in /user/" stopProcessing="true">
          <match url="^user/(.*)\+(.*)$" ignoreCase="true" />
          <action type="Redirect" url="/user/{R:1}_{R:2}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect plus to underscore in root" stopProcessing="true">
          <match url="^(.*)\+(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="/{R:1}_{R:2}" redirectType="Permanent" />
        </rule>
        <rule name="Profile URLs" stopProcessing="true">
          <match url="^([a-zA-Z0-9_\-@\.]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:1}" pattern="^(search|login|register|tags|index|robots|spotify-callback|chat-server|directory|error_redirect|favicon\.ico|favicon\.png|sitemap\.xml|random_image|popular_uploads|save_token|search_profile|chat-server\.php|composer\.json|composer\.lock|firebase-messaging-sw\.js|spotify-callback\.php|error_redirect\.php|directory\.php|BingSiteAuth\.xml|google000728f721d3ed82\.html|\.gitignore\.txt|faveicon\.ico|login\.php|logout\.php)$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/user/profile.php?user={R:1}" />
        </rule>
        <rule name="Clean Nixten Gay URL" stopProcessing="true">
          <match url="^nixten/nixten\.bi$" />
          <action type="Rewrite" url="nixten/nixten.bi.php" />
        </rule>
        <rule name="Restrict sitemap.xml to bots" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="Googlebot|Bingbot|Slurp|DuckAssistBot|Baiduspider|YandexBot|Sogou|Exabot|facebot|ia_archiver" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Restrict BingSiteAuth.xml to Bingbot" stopProcessing="true">
          <match url="^BingSiteAuth\.xml$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="Bingbot" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="RewriteUserProfile" stopProcessing="true">
          <match url="^user/([^/]+)$" />
          <action type="Rewrite" url="user/profile.php?user={R:1}" />
        </rule>
        <rule name="RedirectOldUserProfile" stopProcessing="true">
          <match url="^user/profile\.php$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^user=([^&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="/user/{C:1}" redirectType="Permanent" />
        </rule>
        <rule name="PrivateChatCleanURL" stopProcessing="true">
          <match url="^c/([0-9]+)$" />
          <action type="Rewrite" url="c/private_chat.php?user={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect old view.php?id= URLs to clean URLs" stopProcessing="true">
          <match url="^posts/view\.php$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^id=([0-9]+)$" />
          </conditions>
          <action type="Redirect" url="/posts/{C:1}" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite posts edit to edit.php" stopProcessing="true">
          <match url="^posts/([0-9]+)/edit$" />
          <action type="Rewrite" url="posts/edit.php?id={R:1}" />
        </rule>
        <rule name="Rewrite user profile style to profile_style.css.php" stopProcessing="true">
          <match url="^user/([0-9]+)/profile_style\.css$" />
          <action type="Rewrite" url="user/profile_style.css.php?id={R:1}" />
        </rule>
        <rule name="Rewrite users posts to posts.php" stopProcessing="true">
          <match url="^user/([0-9]+)/posts$" />
          <action type="Rewrite" url="user/posts.php?user={R:1}" />
        </rule>
        <rule name="Rewrite users posts to posts.php via username" stopProcessing="true">
          <match url="^user/([^/]+)/posts$" />
          <action type="Rewrite" url="user/posts.php?username={R:1}" />
        </rule>
        <rule name="Rewrite users favorites to favorites.php" stopProcessing="true">
          <match url="^user/([0-9]+)/favorites$" />
          <action type="Rewrite" url="user/favorites.php?user={R:1}" />
        </rule>
        <rule name="Rewrite users favorites to favorites.php via username" stopProcessing="true">
          <match url="^user/([^/]+)/favorites$" />
          <action type="Rewrite" url="user/favorites.php?username={R:1}" />
        </rule>
        <rule name="Rewrite posts to view.php" stopProcessing="true">
          <match url="^posts/([0-9]+)/$" />
          <action type="Rewrite" url="posts/view.php?id={R:1}" />
        </rule>
        <rule name="AddTrailingSlashToPosts" stopProcessing="true">
          <match url="^posts/([0-9]+)$" />
          <action type="Redirect" url="/posts/{R:1}/" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite extensionless URLs to .php" stopProcessing="true">
          <match url="^(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.php" />
        </rule>
        <rule name="Redirect index.php to 404" stopProcessing="true">
          <match url="^index(\.php)?$" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The requested URL was not found on this server." />
        </rule>
        <rule name="Exclude Google Verification File" stopProcessing="true">
          <match url="^google000728f721d3ed82/.html$" ignoreCase="false" />
          <action type="None" />
        </rule>
        <rule name="Block messages.json" stopProcessing="true">
          <match url="^nixten/messages\.json$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/error/404.php" responseMode="ExecuteURL" />
      <error statusCode="405" path="/error/405.htm" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500.php" responseMode="ExecuteURL" />
      <error statusCode="403" path="/error/403.php" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="8" path="/error/404-8.php" responseMode="ExecuteURL" />
    </httpErrors>
    <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
    <httpRedirect enabled="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
          <add segment="bin" />
          <add segment="obj" />
          <add segment="App_Code" />
          <add segment="App_Data" />
          <add segment="App_GlobalResources" />
          <add segment="App_LocalResources" />
          <add segment="App_WebReferences" />
          <add segment="vendor" />
          <add segment="composer.json" />
        </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".webm" allowed="true" />
                </fileExtensions>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=3600, must-revalidate" />
        <remove name="X-Powered-By" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>