body.dark .site-notice{
    background-color:#1e1e1e
}
body.dark .tag-link:hover{
    color:white!important
}
body.dark{
    --bg-color:#121212;
    --text-color:#ffffff;
    --link-color:#1e90ff;
    --btn-bg:#1e90ff;
    --btn-text:#ffffff
}
body.dark .nav-search input{
    width:180px;
    padding:8px 12px;
    border:2px solid #444;
    border-radius:20px;
    background-color:#333;
    color:#fff;
    font-size:14px;
    outline:none;
    margin:10px;
    box-shadow:0 4px 8px rgb(0 0 0 / .2)
}
body.dark .nav-search input:hover{
    border-color:#555;
    box-shadow:0 4px 12px rgb(0 0 0 / .3)
}
body.dark .search-bar{
    width:169px;
    padding:8px 12px;
    border:2px solid #444;
    border-radius:20px;
    background-color:#333;
    color:#fff;
    font-size:14px;
    outline:none;
    margin:10px;
    box-shadow:0 4px 8px rgb(0 0 0 / .2)
}
body.dark-wallpaper{
    background-image:url(/public/images/dark-wallpaper.png);
    background-size:cover;
    background-attachment:fixed
}
body.dark{
    background-color:#121212;
    background-image:url(/public/images/dark-wallpaper.png);
    color:#fff
}
body.dark a{
    text-decoration:none
}
body.dark header,body.dark nav,body.dark footer{
    background-color:#1e1e1e;
    color:#fff
}
body.dark .settings-container,body.dark .help-container,body.dark .form-container{
    background-color:#1e1e1e;
    border-color:#333
}
body.dark .settings-container h2,body.dark .help-container h2,body.dark .form-container h2{
    color:#fff
}
body.dark .settings-container label,body.dark .help-container label,body.dark .form-container label{
    color:#fff
}
body.dark .settings-container select,body.dark .settings-container input[type="text"],body.dark .settings-container textarea,body.dark .help-container select,body.dark .help-container input[type="text"],body.dark .help-container textarea,body.dark .form-container select,body.dark .form-container input[type="text"],body.dark .form-container textarea{
    background-color:#333;
    color:#fff;
    border-color:#555
}
body.dark .settings-container .button,body.dark .help-container .button,body.dark .form-container .button{
    background-color:#007bff;
    color:#fff
}
body.dark .settings-container .button:hover,body.dark .help-container .button:hover,body.dark .form-container .button:hover{
    background-color:#0056b3
}
body.dark nav a{
    color:#fff
}
body.dark .dropdown{
    background-color:#1e1e1e
}
body.dark .dropdown a{
    color:#fff
}
body.dark .dropdown a:hover{
    background-color:#333;
    z-index:0
}
body.dark .pagination a{
    background:#333;
    color:#fff
}
body.dark .pagination a.active{
    background:#1e1e1e;
    color:#666
}
body.dark .pagination a:hover{
    background:#333;
    color:#fff
}
body.dark .pagination .dots{
    color:#fff
}
body.dark .gallery-item{
    background-color:#1e1e1e;
    color:#fff
}
body.dark .gallery-item:hover{
    background-color:#333
}
body.dark .tags-wrapper{
    background-color:#333
}
body.dark .tags-wrapper p{
    color:#fff
}
body.dark .gallery-item:hover p,body.dark .gallery-item:hover h3{
    color:#fff
}
body.dark .comment,body.dark .like-btn,body.dark .dislike-btn,body.dark .reply-btn{
    background-color:#333;
    color:#fff
}
body.dark .comment:hover,body.dark .like-btn:hover,body.dark .dislike-btn:hover,body.dark .reply-btn:hover{
    background-color:#555
}
body.dark .tag{
    background-color:#333;
    color:#fff
}
body.dark .tag:hover{
    background-color:#555
}
body.dark .search-container{
    background:#1e1e1e;
    color:#fff
}
body.dark .search-container input{
    background:#333;
    color:#fff
}
body.dark .search-container button{
    background:#007bff;
    color:#fff
}
body.dark .search-container button:hover{
    background:#0056b3
}
body.dark .login{
    background:#1e1e1e;
    color:#fff
}
body.dark .login input{
    background:#333;
    color:#fff
}
body.dark .login button{
    background:#007bff;
    color:#fff
}
body.dark .login button:hover{
    background:#0056b3
}
body.dark .login a{
    color:#007bff
}
body.dark .login a:hover{
    color:#0056b3
}
body.dark .terms-label{
    color:#fff
}
body.dark .checkmark{
    color:#4CAF50
}
body.dark .custom-checkbox .checkmark{
    background-color:#333
}
body.dark .custom-checkbox input:checked+.checkmark{
    background-color:#4CAF50
}
body.dark .notification-count{
    background-color:red;
    color:#fff
}
body.dark #notification-list{
    background-color:#1e1e1e
}
body.dark #notification-list li{
    color:#fff
}
body.dark #notification-list li:hover{
    background-color:#333
}
body.dark #chat-box{
    background-color:#1e1e1e;
    color:#fff
}
body.dark .current-uploads{
    text-align:center;
    color:#fff;
    font-size:20px;
    font-weight:700
}
body.dark .notification{
    padding:10px;
    margin:5px 0;
    border-radius:5px;
    background-color:#1e1e1e;
    border-left:5px solid #333;
    display:flex;
    justify-content:space-between;
    align-items:center
}
body.dark .profile-container{
    margin-bottom:20px;
    background-color:#1e1e1e;
    padding:20px;
    border-radius:15px;
    color:#fff;
    width:300px;
    margin-bottom:50px
}
body.dark .edit-css-container{
    margin-bottom:20px;
    background-color:#1e1e1e;
    padding:20px;
    border-radius:15px;
    color:#fff;
    margin-bottom:50px
}
body.dark .pfp-form{
    margin-bottom:20px;
    background-color:#1e1e1e;
    padding:20px;
    border-radius:15px;
    color:#fff;
    width:300px;
    float:top;
    margin-bottom:20px
}
body.dark .bio{
    background-color:#333;
    margin-top:10px;
    font-size:14px;
    color:#ccc
}
body.dark .news-container{
    margin:20px auto;
    padding:20px;
    max-width:800px;
    background-color:#1e1e1e;
    box-shadow:0 0 10px rgb(0 0 0 / .1)
}
body.dark .news-container p{
    line-height:1.6;
    color:#fff
}
body.dark{
    --sidebar-bg-color:#1e1e1e;
    --sidebar-text-color:#ffffff;
    --sidebar-heading-color:#1e90ff;
    --sidebar-link-color:#1e90ff;
    --sidebar-link-hover-color:#0077cc
}
body.dark .tags-table{
    width:100%;
    border-collapse:collapse;
    background-color:#333
}
body.dark .tags-table th,.tags-table td{
    border:1px solid #ddd;
    padding:8px;
    text-align:left
}
body.dark .tags-table th{
    background-color:#1e1e1e
}
body.dark-wallpaper{
    background-image:url(/public/images/dark-wallpaper.png);
    background-size:cover;
    background-attachment:fixed
}
body.dark .forum-container{
    margin:20px auto;
    padding:20px;
    max-width:800px;
    background-color:#333;
    border-radius:8px;
    box-shadow:0 0 10px rgb(0 0 0 / .1)
}
body.dark .description-right-sidebar{
    background-color:#1e1e1e;
    color:#fff
}
body.dark .description-box{
    background-color:#111;
    color:#fff
}
body.dark .sidebar-container{
    gap:20px;
    padding:20px;
    position:relative;
    z-index:0;
    color:#fff;
    background-color:#111;
    border-radius:15px
}
body.dark .news-tutorial{
    display:none;
    position:fixed;
    bottom:50px;
    right:10px;
    background:#1e1e1e;
    border:1px solid #333;
    padding:10px;
    font-size:12px;
    z-index:10000;
    max-width:220px;
    box-shadow:0 2px 5px rgb(0 0 0 / .7);
    border-radius:5px;
    color:#eee
}
body.dark .per_page {
    background-color:#333;
    color: #fff;
    border:1px solid #555;
}