.past-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.past {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.other-info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.other-info {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.guffy-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.guffy {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 15px;
    text-align: center;
    margin: 20px;
}